<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: 'navbar-item' do %>
        <img
          src="https://bulma.io/images/bulma-logo.png"
          width="112"
          height="28"
        />
    <% end %>
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %> 

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link"> <%= current_user.email %> </a>
    
              <div class="navbar-dropdown">
                <%= link_to 'New Story', new_story_path, method: 'get', class: 'navbar-item' %>
                <%= link_to 'Story', stories_path, method: 'get', class: 'navbar-item' %>
                <hr class="navbar-divider" />
                <%= link_to 'User Info', edit_user_registration_path, method: 'get', class: 'navbar-item' %>
                <hr class="navbar-divider" />
                <%= link_to 'Log out', destroy_user_session_path, method: 'delete', class: 'navbar-item', data: {confirm: 'are you sure you want to log out?'} %>
                
              </div>
            </div>
          <% else %> 
            <%= link_to 'Sign up', new_user_registration_path, method: 'get', class: 'button is-primary' %>
            <%= link_to 'Log in', new_user_session_path, method: 'get', class: 'button is-light' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
